# Environments
.env
venv/
env/
ENV/
env.bak/
venv.bak/

# Logs and Databases (Tránh up file data của user lên git)
log/
*.log

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDE / OS
.vscode/
.idea/
.DS_Store
